Package: com.nito.kbtask
Name: KBTask
Version: 0.0.1
Architecture: appletvos-arm64
Description: A robust wrapper around NSTask that provides an experience that can easily adapt between rootless and non-rootless jailbreaks. 
Maintainer: Kevin Bradley
Author: Kevin Bradley
Section: System
Tag: role::developer
